{% extends 'base.html' %}
{% load kwpastebin_extras %}
{% block content %}
{% if user.is_authenticated %}
<p><a href="{% url 'kwpastebin:my_pastes' %}">View my pastes</a>{% if perms.kwpastebin.list_all_pastes %} — <a href="{% url 'kwpastebin:all_pastes' %}">View all pastes</a>{% endif %}</p>
{% endif %}
<h2>Public pastes</h2>
{% if public_pastes %}
<ul>
{% for paste in public_pastes %}
    {% paste_li paste %}
{% endfor %}
</ul>
{% else %}
<p class="text-warning">There are no public pastes.</p>
{% endif %}
<h2>Add new paste</h2>
{% if has_add_perm %}
{% paste_form form 0 %}
{% elif user.is_authenticated %}
<p class="text-warning">You do not have permission to create new pastes.</p>
{% else %}
<p class="text-warning">Only logged-in users can add pastes.</p>
{% endif %}
{% endblock content %}
