{% extends 'base.html' %}
{% block content %}
<ul>
    {% for paste in pastes %}
        <li><a href="{{ paste.get_absolute_url }}">{{ paste.id }}</a> (created by {{ paste.user_disp }} on {{ paste.date_created }})</li>
    {% empty %}
    No pastes.
    {% endfor %}
</ul>
{% if perms.kwpastebin.invalidate_cache %}
<form action="{% url 'kwpastebin:invalidate_cache' %}" method="POST">{% csrf_token %}<button class="btn btn-danger btn-sm">Invalidate cache for all pastes</button></form>
{% endif %}
{% endblock content %}
